<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>
  <p>
    The movie website will provide 3 preselected movies and a search bar
    that allows users to search for movies inside API database.
  </p>
</div>
{{#link-to "application" class="button"}}
  Home
{{/link-to}}